:root {
  --section-text-color: #232338;
  --section-background-color: #FFFFFF;
  --skill-background-color: #00FF6c;
}


body {
  background-color: #232323;
}

.container {
  padding: 0;
  margin: 0;
}

.section-contact-info {
  padding: 3rem 2rem 3rem 2rem;
  background-color: #232323;
  width: 100%;
  font-size: 3rem;
  display: flow;
}

.linked-in {
  text-align: left;
  font-weight: normal;
  font-size: 3rem;
  width: 4.5rem;
  background-color: var(--section-background-color);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
}

.my-name {
  text-align: left;
  font-size: 5rem;

}

.phone, .email, .address {
  font-weight: bold;
  margin-right: 1rem;
}

.section-contact-info p {
  font-weight: normal;
  text-align: left;
}

.gap {
  margin-left: 14rem;
  font-weight: normal;
}


.section-contact-info p:last-child {
  margin-bottom: 1rem;
}

@media (max-width:40rem) {
  .my-name {
    text-align: left;
    font-size: 2rem;
  }

  .section-contact-info {
    padding: 3rem 2rem 3rem 2rem;
    background-color: #232323;
    width: 100%;
    font-size: 1rem;
    display: flow;
  }

  .gap {
    margin-left: 5rem;
    font-weight: normal;
  }

  .linked-in {
    margin-top: 3rem;
    font-size: 2rem;
    width: 3rem;
    padding: .7rem .7rem .7rem .7rem;
  }

}
